.rectangle1 {
    width: 262px;
    height: 196px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}

.shadow-box {
    width: 262px;
    height: 196px;
    border-radius: 10px;
    border: 1px solid whitesmoke;
}